
html, body{
    margin: 0;
    height: 100%;

}


*,
*:before,
*:after {
  box-sizing: border-box;
  z-index: 2;
}

header{
    z-index: 0;
}

main{
    margin-top: 3vh;
}

nav{
    height: 13vh;
    background-color: rgb(238, 238, 238);
    position: relative;
}

#Site_Id{
    font-family: 'Rozha One', serif;
    font-size: 35px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
    color: rgb(65, 65, 65);



}

.nav_item{
    display: inline-block;
    margin-left: 5%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    user-select: none;
}
.fa-book-open{
    font-size: 25px;
    color: rgb(170, 170, 170);
    vertical-align: middle;
}

.menu_icon{
    right: 0;
    margin-right: 8%;
}

.fa-bars{
    font-size: 40px;
    color: rgb(65, 65, 65);
    vertical-align: middle;

}

.navbar_option{
    display: inline-block; 
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    color: rgb(65, 65, 65);
    font-weight: normal;
    right: 0;
    margin: 0 20% 0 0;
    top: 50%;
    transform: translate(0, -50%);
}

.navbar_option:hover{
    cursor: pointer;
    color: #f12711;
    color: -webkit-linear-gradient(to top, #f12711, #f5af19);
    color: linear-gradient(to top, #f12711, #f5af19);

}

.option2{
    margin: 0 5% 0 0;

}

.navbar_option_active{
    color: #f12711;
    color: -webkit-linear-gradient(to top, #f12711, #f5af19);
    color: linear-gradient(to top, #f12711, #f5af19);
}

/* MENU */



.menu{
    height: 100vh;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    position: relative;
    z-index: 10;
}

.menu_options{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.menu_option:not(:last-child){
    margin: 0 0 80px 0;
}

.menu_option:last-child{
    margin: 0;
}

.menu_option{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    color: rgb(65, 65, 65);
}

.menu_option:active{
    color: #f12711; /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.animate_menu_down{
    animation: slide-bottom 0.3s ease-out forwards;

}


  @keyframes slide-bottom {
    0% {
              transform: translateY(-999px);
    }
    100% {
              transform: translateY(0);
    }
  }

  .fa-arrow-up{
      font-size: 40px;
      padding: 5%;
      color: rgb(83, 83, 83);
    }
    .fa-arrow-up:active{
        color: #f12711; /* fallback for old browsers */
        color: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
        color: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    

.animate_menu_up{
    animation: slide-top 0.3s forwards;

}


  @keyframes slide-top {
    0% {
              transform: translateY(0);
    }
    100% {
              transform: translateY(-999px);
    }
  }

  /*  grid   */

  .book_container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding: 20px;
  }

  .book_card{
      background-color: rgb(226, 226, 226);
      height: 32vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }

  .info_btns{
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 1;
      opacity: 0;
    }


  .fa-info-circle{
    align-self: center;
    font-size: 65px;
    background: linear-gradient(to bottom, #56ccf2, #2f80ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 10px #2b2b2b);
  }
  .fa-trash-alt{
      position: absolute;
      right: 0;
      padding: 10%;
      font-size: 25px;
      background: linear-gradient(to top, #ed213a, #93291e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0px 0px 10px #2b2b2b);
  }

  .fa-check-circle{
    position: absolute;
    left: 0;
    padding: 10%;
    font-size: 25px;
    color: #34b233;
  }

  .fa-times-circle{
    position: absolute;
    left: 0;
    padding: 10%;
    font-size: 25px;
    color: #ff3333;
  }

  .add_book{
      background-color: rgb(235, 235, 235);
      border: 4px dashed #C2C2C2;
      height: 32vh;
      padding-bottom: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }


  .add_book_text{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color: #969696;
    margin-bottom: 15px;
    user-select: none;
  }

  .plus_circle{
      text-align: center;
      color: #969696;
      font-size: 45px;
      margin-top: 0;
      align-self: center;
      
  }


  .form_container{
      overflow-y: initial !important;
      width: 100vw;
      height: 100%;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      animation: change-bg 0.4s forwards;
      overflow: hidden;
  }

  .form_book_info{
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 90%;
    padding: 15% 10% 5% 10%;
    background-color: white;
    box-shadow: 0px 0px 16px -6px rgba(20,20,20,1);

    animation: bring-forward 0.2s forwards;
}

  @keyframes change-bg {
      to{
        background-color: rgba(0, 0, 0, 0.253);
      }
  }


@keyframes bring-forward {
    from{
        top: 0;
        left: 50%;
        transform: translate(-50%, 10%) scale(0);
    }
    to{
        top: 0;
        left: 50%;
        transform: translate(-50%, 10%) scale(1);

    }
}


.fa-times{
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(100, 100, 100);
    padding: 3% 5%;
    z-index: 1;
}
  
.input_container{
    position: relative;
}

.placeholder_style{
    position: absolute;
    top: 2px;
    left: 10px;
    color: rgb(170, 170, 170);
    font-family: 'Raleway', sans-serif;
    pointer-events: none;
}


.input_box{
    border: none;
    border-bottom: 4px rgb(207, 207, 207) solid ;
    width: 100%;
    font-size: 20px;
    margin-bottom: 45px;
    padding: 0 10px 10px;
    outline: none;
}

.input_box:focus{
    animation: focus 0.2s ease-in forwards;
}

.book_cover_box{
    font-size: 12px;
}

.active{
    animation: slide-top-txt 0.3s ease-out forwards;
}

.inactive{
    animation: slide-down-txt 0.3s ease-out forwards;

}

#optional{
    font-size: 14px;
}


.radio_container{
    display: inline-block;
    margin-top: 50px;
    padding: 0 10% 0 10%;
}

.no_container{
    position: absolute;
    right: 0;
}

.radio_label{
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    color: rgb(170, 170, 170);
    font-family: 'Raleway', sans-serif;
}


#yes, #no{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio_btn{
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #eee;
    align-self: center;
    position: relative;
}

.radio_btn:hover{
    background-color: #ccc;
}

#yes:checked ~ .radio_btn, #no:checked ~ .radio_btn{
    background-color: rgb(47, 137, 255);

}

.radio_btn::after{
    content: "";
    position: absolute;
    display: none;
}


#yes:checked ~ .radio_btn::after{
    display: block;
}

#no:checked ~ .radio_btn::after{
    display: block;
}



.radio_btn::after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }



  .clear_div{
      width: 100vw;
      height: 10vh;
      position: relative;
  }
  
  .clear_lib{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border: 2px solid rgb(255, 79, 73);
      padding: 10px 20px; 
      font-size: 17px;
      font-family: 'Raleway', sans-serif;
      color: rgb(255, 79, 73);
      font-weight: 600;
      animation: out-clear 0.2s ease-out forwards;
      border-radius: 8px;
  }

  .clear_lib:hover{
    animation: in-clear 0.2s ease-in forwards;
}

.clear_lib:active{
    animation: in-clear 0.2s ease-in forwards;
}


.add_btn{
    margin-top: 12%;
    background-color: white;
    border: 2px solid rgb(60, 207, 226);
    padding: 10px 20px; 
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color: rgb(60, 207, 226);
    font-weight: 600;
    animation: out 0.2s ease-out forwards;
    border-radius: 8px;
}

.add_btn:hover{
    animation: in 0.2s ease-in forwards;
}

.add_btn:active{
    animation: in 0.2s ease-in forwards;
}






@keyframes focus {
    from{

    }
    to{
        border-bottom: 4px rgb(60, 207, 226) solid ;

    }
}


@keyframes in {
    from{
        background-color: white;
        color: rgb(60, 207, 226);
    }
    to{
        background-color: rgb(60, 207, 226);
        color: white;
    }
}


@keyframes out-clear {
    from{
        background-color:rgb(255, 79, 73);
        color: white;
    }
    to{

        background-color: white;
        color: rgb(255, 79, 73);
    }
}

@keyframes in-clear {
    from{
        background-color: white;
        color: rgb(255, 79, 73);
    }
    to{
        background-color: rgb(255, 79, 73);
        color: white;
    }
}


@keyframes out {
    from{
        background-color: rgb(60, 207, 226);
        color: white;
    }
    to{

        background-color: white;
        color: rgb(60, 207, 226);
    }
}

  @keyframes slide-top-txt {
    0% {
              transform: translateY(0) scale(1);
    }
    100% {
              transform:  translateY(-25px) scale(0.9);
              
    }
  }


  @keyframes slide-down-txt {
    0% {
              transform:  translateY(-25px) scale(0.9);

    }
    100% {
              transform: translateY(0) scale(1);
              
    }
  }

  .book_cover{
      width: 100%;
      height: 100%;
      z-index: 0;
      position: absolute;
      box-shadow: 0px 5px 18px -5px rgba(0,0,0,0.75);
  }

  .empty_book_cover{
      width: 65%;
      height: 65%;
      z-index: 0;
      position: absolute;
      filter: invert(93%) sepia(2%) saturate(1079%) hue-rotate(205deg) brightness(116%) contrast(52%);

  }



  /* MEDIA QUERIES */


  
@media only screen and (min-width : 600px) {
    .book_container{
      
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
        margin-top: 3vh;
    }
}

@media only screen and (min-width: 1024px) {
    .add_book{

        height: 300px;
        padding-bottom: 10%;

        
    }
    .book_container{
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;

        grid-row-gap: 40px;
        grid-column-gap: 20px;
        padding: 20px 100px;
        margin-top: 3vh;
    }
    .book_card{
        background-color: rgb(226, 226, 226);
        height: 300px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

@media only screen and (min-width: 1300px) {
    .add_book{

        height: 300px;
        padding-bottom: 10%;
        
    }
    .book_container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        padding: 20px 25%;
        margin-top: 3vh;
    }
    .book_card{
        height: 300px;

    }
    .form_book_info{
        width: 500px;
        padding: 5% 5% 2% 5%;
        }

    #Site_Id{
        font-size: 60px;
    }
    .fa-book-open{
        font-size: 55px;
    }

    .clear_lib{
        font-size: 28px;
    }
}



  